* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 800;
	src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
}
@font-face {
	font-family: "Bague";
	src: url(../fonts/Bague.ttf) format("truetype");
}
html, body {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}
body {
	background: #2c2c2c;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
p.copyright {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 14px;
	color: #e2d9d2;
	letter-spacing: 0.5px;
	position: absolute;
	bottom: 45px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
div.alphabet {
	width: 60%;
	height: 80%;
	position: relative;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	background: transparent;
}
div.alphabet > span {
	font-family: "Bague";
	color: #fff;
	font-size: 86px;
	text-shadow: 9px 12px 4px rgba(0, 0, 0, .45);
	display: inline-block;
	width: 11%;
	height: 130px;
	line-height: 130px;
	flex-shrink: 0;
	transition-property: background-color, color, top, left;
	transition-duration: .2s;
	cursor: pointer;
}
div.alphabet > span > i {
	font-style: normal;
	display: block;
	position: relative;
	box-sizing: border-box;
	height: 130px;
}
@keyframes delayAnimate0 {
	0% {
		padding-left: 0;
		padding-top: 0;
	}
	30% {
		padding-left: 40px;
		padding-top: 10px;
	}
	100% {
		padding-left: 0;
		padding-top: 0;
	}
}
@keyframes delayAnimate1 {
	0% {
		padding-left: 0;
		padding-top: 0;
	}
	30% {
		padding-left: 20px;
		padding-top: 10px;
	}
	100% {
		padding-left: 0;
		padding-top: 0;
	}
}
@keyframes delayAnimate2 {
	0% {
		padding-left: 0;
	}
	20% {
		padding-left: 40px;
	}
	100% {
		padding-left: 0;
	}
}
@keyframes delayAnimate3 {
	0% {
		padding-top: 0;
	}
	20% {
		padding-top: 40px;
	}
	100% {
		padding-top: 0;
	}
}
@keyframes delayAnimate4 {
	0% {
		padding-left: 0;
		padding-top: 0;
	}
	20% {
		padding-left: 20px;
		padding-top: 20px;
	}
	100% {
		padding-left: 0;
		padding-top: 0;
	}
}
@keyframes delayAnimate5 {
	0% {
		padding-left: 0;
		padding-top: 0;
	}
	20% {
		padding-left: 20px;
		padding-top: 40px;
	}
	100% {
		padding-left: 0;
		padding-top: 0;
	}
}
@keyframes delayAnimate6 {
	0% {
		padding-left: 0;
		padding-top: 0;
	}
	20% {
		padding-left: 40px;
		padding-top: 20px;
	}
	100% {
		padding-left: 0;
		padding-top: 0;
	}
}
@keyframes delayAnimate7 {
	0% {
		padding-left: 0;
		padding-top: 0;
	}
	20% {
		padding-left: 40px;
		padding-top: 40px;
	}
	100% {
		padding-left: 0;
		padding-top: 0;
	}
}
div.alphabet > span.checked {
	top: 0 !important;
	left: 0 !important;
}
div.alphabet > span.selected,
div.alphabet > span.hover {
	color: #000;
}
div.alphabet > span.selected > i:before,
div.alphabet > span.hover > i:before {
	position: absolute;
	content: "";
	z-index: -1;
	display: block;
	width: 105%;
	height: 115%;
	top: -7.5%;
	left: -1%;
	background: #fff;
	box-shadow: -27.5px 27.5px 20px 0px rgba(0, 0, 0, .45);
	border-radius: 15%;
}
div.alphabet > span:last-of-type,
div.alphabet > span:last-of-type:hover {
	color: #a45c4e;
}
ul.items {
	display: none;
	font-family: "Bague";
	font-size: 35px;
	list-style-type: none;
	width: 60%;
	position: absolute;
	top: 50px;
	left: 20%;
	flex-wrap: wrap;
	text-align: left;
}
ul.items li {
	width: 25%;
	cursor: pointer;
	margin: 2px 0;
	padding: 0 20px;
	box-sizing: border-box;
	color: #fff;
	text-shadow: 6px 6px 4px rgba(0, 0, 0, .4);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.info-heading {
	font-family: "Bague";
	font-size: 35px;
	text-shadow: 6px 6px 4px rgba(0, 0, 0, .4);
	margin: 6px 0;
	padding: 0 20px;
	color: #fff;
	position: absolute;
}
ul.items li.disabled {
	color: #7f7f7f;
}
div.iteminner, div.information {
	display: none;
	width: 60vw;
	position: absolute;
	top: 0;
	left: 20%;
}
div.iteminner video {
	height: 34vw;
	max-height: 80vh;
}
div.information {
	font-size: 16px;
	color: #fff;
	font-family: "Open Sans";
	height: 510px;
	overflow-y: auto;
	padding: 0 30px;
}
div.information::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
}
div.information::-webkit-scrollbar-track {
  background: #494949;
  border-radius: 10px;
}
div.information::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 10px;
}
div.information::-webkit-scrollbar-thumb:hover {
  background: #1d1d1d;
}
p.info-heading {
	display: none;
	position: absolute;
}
div.popup {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(44,44,44,.85);
	z-index: 999;
	justify-content: center;
	align-items: center;
}
div.subscription-inner {
	padding: 60px 160px;
	max-width: 90%;
	max-height: 90%;
	border-radius: 40px;
	background: #2c2c2c;
	box-shadow: -10px 10px 60px 0px rgba(0, 0, 0, .4);
	text-align: center;
	color: #fff;
	font-family: "Open Sans";
	box-sizing: border-box;
}
div.subscription-inner > p {
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 20px;
}
div.subscription-inner .plans {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
div.subscription-inner .plans > div {
	height: 170px;
	width: 120px;
	border: 1px solid #6a6a6a;
	background: #494949;
	box-shadow: -10px 10px 60px 0px rgba(0, 0, 0, .4);
	border-radius: 15px;
	margin: 1px 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	user-select: none;
}
div.subscription-inner .plans > div:hover,
div.subscription-inner .plans > div.selected {
	border: 2px solid #29b000;
	margin: 0 13px;
}
div.subscription-inner .plans > div > p {
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 8px;
}
div.subscription-inner .plans > div > span {
	font-size: 36px;
}
.btn {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	margin: 0 6px;
	padding: 16px 30px;
	border-radius: 40px;
	font-weight: 800;
	background: #29b000;
	box-shadow: -10px 10px 60px 0px rgba(0, 0, 0, .4);
}
.btn.btn--gray {
	background: #494949;
}
@media (max-height: 580px) {
	div.alphabet > span {
		height: 130px;
		line-height: 130px;
	}
	div.alphabet > span > i {
		height: 130px;
	}
	p.copyright {
		bottom: 20px;
	}
	body {
		align-items: flex-start;
	}
	.alphabet {
		margin-top: 20px;
	}
}
@media (min-width: 1366px) {
	div.alphabet {
		width: 1080px;
	}
	div.alphabet > span {
		width: 110px;
	}
}
@media (min-width: 1280px) {
	ul.items {
		top: 150px;
	}
}
@media (max-width: 1280px) {
	div.alphabet {
		width: 80%;
	}
}
@media (min-width: 1024px) {
	ul.items li:not(.selected):hover {
		color: #29b000;
	}
}
@media (max-width: 1024px) {
	div.alphabet {
		width: 63%;
	}
	ul.items {
		font-size: 30px;
		top: 30px;
		left: 15%;
		width: 70%;
	}
}
@media (max-width: 920px) {
	div.alphabet > span {
		font-size: 38px;
		height: 55px;
		line-height: 55px;
		text-shadow: 6px 6px 4px rgba(0, 0, 0, .45);
	}
	div.alphabet > span > i {
		height: 55px;
	}
	ul.items li {
		margin: 6px 0;
	}
	ul.items {
	    font-size: 19px;
	    top: 15px;
	    left: 15%;
	}
	p.copyright {
		font-size: 10px;
	}
}
@media (max-width: 870px) {
	div.subscription-inner {
	    padding: 20px 40px;
	    font-size: 13px;
	}
	div.subscription-inner > p {
		font-size: 20px;
		margin-bottom: 10px;
	}
	div.subscription-inner .plans {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	div.subscription-inner .plans > div {
		height: 110px;
		margin: 1px 10px;
	}
	div.subscription-inner .plans > div:hover, div.subscription-inner .plans > div.selected {
		margin: 0 9px;
	}
	div.subscription-inner .plans > div > p {
		font-size: 17px;
	}
	div.subscription-inner .plans > div > span {
		font-size: 30px;
	}
	.btn {
		padding: 11px 30px;
	}
}
@media (max-height: 350px) {
	div.subscription-inner .plans {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	div.subscription-inner .plans > div {
		width: 90px;
		height: 90px;
	}
	div.subscription-inner .plans > div > p {
		font-size: 15px;
		margin-bottom: 5px;
	}
	div.subscription-inner .plans > div > span {
		font-size: 25px;
	}
}
@media (max-height: 270px) {
	div.subscription-inner {
		padding: 15px 30px;
		font-size: 12px;
		overflow: auto;
	}
	div.subscription-inner .plans > div > span {
		font-size: 22px;
	}
	div.subscription-inner > p {
		font-size: 18px;
		margin-bottom: 6px;
	}
	div.subscription-inner .plans > div {
		width: 80px;
		height: 80px;
	}
	div.subscription-inner .plans > div > p {
		font-size: 13px;
		margin-bottom: 4px;
	}
}
@media (max-width: 680px) {
	/*div.alphabet > span {
		font-size: 60px;
		height: 100px;
		line-height: 100px;
	}
	div.alphabet > span > i {
		height: 100px;
	}*/
}
@media (max-width: 640px) {
	/*ul.items {
	    font-size: 28px;
	    top: 20px;
	    left: 14%;
	}*/
	div.subscription-inner {
		padding: 20px;
	}
	ul.items {
	    width: 82%;
	}
}
@media (max-width: 560px) {
	/*ul.items {
	    font-size: 25px;
	    width: 90%;
	}*/
	div.alphabet {
	    width: 70%;
	}
}
@media (max-width: 510px) {
	/*div.alphabet > span {
		font-size: 48px;
		height: 80px;
		line-height: 80px;
	}
	div.alphabet > span > i {
		height: 80px;
	}
	ul.items {
	    font-size: 23px;
	    width: 85%;
	    top: 15px;
	    left: 12%;
	}*/
	div.subscription-inner .plans > div {
		margin: 1px 4px;
	}
	div.subscription-inner .plans > div:hover, div.subscription-inner .plans > div.selected {
		margin: 0 3px;
	}
	.btn {
		margin-top: 10px;
	}
}
@media (max-width: 470px) {
	div.alphabet {
	    width: 80%;
	}
}
@media (max-width: 440px) {
	/*div.alphabet > span {
		font-size: 41px;
		height: 65px;
		line-height: 65px;
	}
	div.alphabet > span > i {
		height: 65px;
	}
	ul.items {
	    font-size: 20px;
	}*/
	div.subscription-inner .plans > div > p {
		font-size: 17px;
	}
	div.subscription-inner .plans > div > span {
		font-size: 33px;
	}
	div.subscription-inner .plans > div {
		width: 130px;
	}
}
@media (max-width: 420px) {
	div.alphabet {
	    width: 90%;
	}
}
@media (max-width: 390px) {
	/*div.alphabet > span {
		font-size: 34px;
		height: 55px;
		line-height: 55px;
	}
	div.alphabet > span > i {
		height: 55px;
	}
	ul.items {
		font-size: 18px;
	}*/
}
/*@media (max-height: 400px) {
	div.alphabet > span {
		height: 100px;
		line-height: 100px;
		font-size: 75px;
	}
	div.alphabet > span > i {
		height: 100px;
	}
}
@media (max-height: 325px) {
	div.alphabet > span {
		height: 80px;
		line-height: 80px;
		font-size: 65px;
	}
	div.alphabet > span > i {
		height: 80px;
	}
}
@media (max-height: 400px) and (max-width: 690px) {
	div.alphabet > span {
		height: 60px;
		line-height: 60px;
		font-size: 50px;
	}
	div.alphabet > span > i {
		height: 60px;
	}
}*/
@media only screen and (orientation:portrait) {
	html {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	body {
		height: 100vw;
		width: 80vh;
		transform: rotate(90deg);
		flex-shrink: 0;
	}
	p.copyright {
		font-size: 11px;
	}
	div.iteminner, div.information {
		width: 60vh;
	}
	div.iteminner video {
		height: 34vh;
		max-height: 70vw;
	}
}